<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <script defer type="text/javascript" src="/js/myPage.js"></script>
</head>

<body>
<header class="header flex">
    <button class="goback">뒤로가기</button>
    <button class="logout">로그아웃</button>
</header>
<main class="main grid">
    <div class="col-1">
        <div class="buttons">
            <button id="button1">클릭</button>
            <button id="button2">클릭</button>
            <button id="button3">클릭</button>
            <button id="button4">클릭</button>
        </div>
    </div>
    <div class="col-2">
        <div id="changecontentBox">

        </div>
    </div>
</main>
<footer></footer>
</body>

</html>