/* ResetCss */

body {
    cursor: default;
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
}

table {
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}


a {
    text-decoration: none;
    color: inherit;
}


button {
    margin-bottom: 10px;
    padding: 10px 20px;
}

button,
textarea,
input {
    font-size: 16px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    border: none;
    background-color: #fff;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
    outline: none;
    box-shadow: none;
}

.main {
    display: flex;
}

.header {
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.col-1 {
    flex-direction: column;
    align-items: flex-start;
}

.col-2 {
    width: 700px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex; /* 부모 요소를 Flex 컨테이너로 설정 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}



.buttons {
    display: flex;
    flex-direction: column;
}

button {
    margin-bottom: 10px;
}

.changecontentBox__user {
    column-gap: 4rem;
    width: 100%;

}

.changecontentBox__user__image {
    flex-basis: 33.333333%;
}

.changecontentBox__user-info {
    flex-basis: 66.666667%;
}


.changecontentBox__user__image-profile {
    width: 300px;
    height: 300px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}