<html lang="en">
<head>
    <meta charSet="UTF-8">
    <title>Restaurant</title>
    <style>
        @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

        body { margin: 0; padding: 0; overflow: auto; }
        .--header { display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #FFE08C;font-family: "Black Han Sans", ui-rounded;font-weight: bold;}
        .container {width: auto;min-height: calc(90vh - (40px + (10px * 2)));display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 35px;}
        .--logo-image {font-size: 30px;}
        .--login-container a {margin-left: 10px;}
        .--main {padding: 20px;}
        .--footer {text-align: center;padding: 10px;background-color: #f2f2f2;}
        .grid-container {display: inline-flex;gap: 20px;margin-bottom: 20px;justify-content: center;}
        .grid-item {background-color: #f9f9f9;padding: 40px;border-bottom: 20px;width: 400px;height: auto;font-size: 18px;border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;}

        /* Ratings & WishList */

        .rate { display: inline-block; border: 0; margin-left: 0px; }
        .rate > input { display: none; }
        .rate > label { float: right; color: #ddd; }
        .rate > label:before {display: inline-block;font-size: 2rem;padding: .3rem .2rem;margin: 0;cursor: pointer;font-family: FontAwesome;content: "\f005 ";}
        .wishlist { display: inline-block; border: 0; margin-left: 0px; }
        .wishlist > h1 > input { display: none; }
        .wishlist > h1 > label { color: #ddd }
        .wishlist > h1 > label:before { display: inline-block; font-size: 2rem; padding: .3rem .2rem; margin: 0; cursor: pointer; font-family: FontAwesome, serif; content: "\f004 "; }
        .wishlist input:checked ~ label,
        .wishlist label:hover ~ input:checked ~ label { color: #F781F3 !important; }
    </style>
</head>

<body>
<header class="--header">
    <div class="--logo">
        <div class="--logo-image">🍔 맛자국</div>
    </div>
    <!-- 로그인/로그아웃과 마이페이지 링크 -->
    <div class="--login-container">
        <!-- 마이페이지와 로그아웃 링크 -->
        <a href="/myPage">마이 페이지</a>
        <a href="#" id="logout-button" onclick="logout()">로그아웃</a>
    </div>
    <!-- 로그인 링크 -->
    <div class="--not-login-container" style="display: none;">
        <a href="/login">로그인</a>
    </div>
</header>


<main class="--main">
    <div class="container">
        <div class="grid-container">
            <div class="grid-item">
                <fieldset class="wishlist">
                    <h1 style="display:flex; justify-content : space-between; align-items : center;">
                        <div id="name">[음식점 이름]</div>&nbsp;
                        <input type="checkbox" id="wish" onClick="addWish()"><label for="wish"></label>
                    </h1>
                </fieldset>
                <img id="img" style="width:300px; height:300px;" src="#">
            </div>
            <div class="grid-item">
                <br><br><br><br><br>
                <div id="address">[지번주소]</div>
                <div id="road-address">[도로명 주소]</div>
                <br>
                <div id="open-hours">영업시간:</div>
                <div id="tel">전화번호:</div>
                <br><br>
                <fieldset class="rate">
                    <input type="radio" id="rating5" name="rating" value="5"><label for="rating5" title="5점" id="rt5"></label>
                    <input type="radio" id="rating4" name="rating" value="4"><label for="rating4" title="4점" id="rt4"></label>
                    <input type="radio" id="rating3" name="rating" value="3"><label for="rating3" title="3점" id="rt3"></label>
                    <input type="radio" id="rating2" name="rating" value="2"><label for="rating2" title="2점" id="rt2"></label>
                    <input type="radio" id="rating1" name="rating" value="1"><label for="rating1" title="1점" id="rt1"></label>
                    <p style="color:#BDBDBD" id="rate-text">&nbsp;별점 : - 점</p>
                </fieldset>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <h3>메뉴</h3>
                <div id="menus">[메뉴]</div>
            </div>
            <div class="grid-item">
                <h3 style="position: relative">리뷰
                    <p id="addReviewBtn" style="cursor: pointer; position: absolute; top: -25px; right: 0" onclick="toNewReview()"> ➕</p>
                </h3>
                <div id="reviews">[리뷰]</div>
            </div>
        </div>
    </div>
</main>


<footer class="--footer">
    ©2023 Mutsa-Backend-School-JDK17. All rights reserved.
</footer>


<script>
    let restaurantId;
    let username;

    window.onload = function () {
        const params = new URL(location.href).searchParams;
        getRestaurantInfo(params.get("name"), params.get("address"));
    }

    /* 즐겨찾기(하트) 버튼 클릭 시, 실행 */
    function addWish() {
        if (!localStorage.getItem('token') && !sessionStorage.getItem('token')) {
            document.getElementById('wish').checked = false;
            alert('즐겨찾기 등록은 로그인 후 사용 가능합니다.');
        } else {
            const token = localStorage.getItem('token') || sessionStorage.getItem('token');
            const status = document.getElementById('wish').checked;
            fetch(`/api/wishlist/${restaurantId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            })
                .then(res => {
                    if (!res.ok) {
                        console.log(res.json());
                    } else {
                        if (status) alert("즐겨찾기에 추가되었습니다.");
                        else alert("즐겨찾기에서 삭제되었습니다.");
                    }
                })
        }
    }

    async function isWishList() {
        const token = localStorage.getItem('token') || sessionStorage.getItem('token');
        let response = await fetch(`/api/wishlist/${restaurantId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
            }
        });
        let data = await response.text();
        if (data.includes("true")) document.getElementById('wish').checked = true;
    }

    /* refreshToken으로 accessToken 재발급 */
    async function reissueToken() {
        if (!localStorage.getItem('token') && !sessionStorage.getItem('token')) {
            document.getElementById('wish').checked = false;
            console.log("user: anonymous");
        } else {
            let response = await fetch(`/api/reissue`, {
                method: 'POST', headers: {'Content-Type': 'application/json'}
            });
            let data = await response.json();

            if (localStorage.getItem('autoLogin') === "T") {
                localStorage.removeItem('token');
                localStorage.setItem('token', data.accessToken);
            } else if (localStorage.getItem('autoLogin') === "F") {
                sessionStorage.removeItem('token');
                sessionStorage.setItem('token', data.accessToken);
            }
            getUsername(data.accessToken);
        }
    }

    async function getUsername(token) {
        let response = await fetch(`/api/username`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
            }
        });
        username = await response.text();
        getReviewsPaged(0);
    }

    function getReviewsPaged(page) {
        fetch(`/api/${restaurantId}/review?page=${page}&limit=5`, {
            method: 'GET', headers: {'Content-Type': 'application/json'}
        })
            .then(response => response.json())
            .then(data => {
                let rvs = "<br>";
                data.reviewPage.content.forEach(function (review) {
                    rvs += `<div style="background-color: #ddd; border-radius:10px; padding: 10px;"> ${review.username} : ${review.content}`;
                    let flag = 0;

                    review.imageUrl.forEach(function (url) {
                        if (flag++ == 0) rvs += "<br>";
                        rvs += `<img style="width: 100px; height:100px; margin: 7px 5px 5px 10px;" src="${url}" >`
                    });
                    rvs += `<br><div style="display: flex; flex-flow: row nowrap; justify-content: flex-end">${"⭐️".repeat(review.ratings)} &nbsp;`

                    /* 본인 댓글에 수정 버튼 추가 */
                    if (review.username == username)
                        rvs += `<a href='/review/edit?restaurantId=${restaurantId}&reviewId=${review.id}'><button>수정</button></a>`
                    rvs += `</div></div><br>`;
                });

                rvs += '<div style="display: flex; flex-flow: row nowrap; justify-content: center;">'
                for (let i = 0; i < data.reviewPage.totalPages; i++) {
                    if (page == i) rvs += `<a style="color: brown;">&nbsp;&nbsp;${i + 1}&nbsp;&nbsp;</a>`;
                    else rvs += `<a onClick="getReviewsPaged(${i})" style="cursor: pointer" >&nbsp;&nbsp;${i + 1}&nbsp;&nbsp;</a>`;
                }
                document.getElementById('reviews').innerHTML = rvs + `</div>`;
            });
    }

    function toNewReview () {
        window.location.href =`/review?restaurantId=${restaurantId}`;
    }

    function getRestaurantInfo(name, address) {
        return fetch(`/api/restaurant/detail?name=${name}&address=${address}`, {
            method: 'GET', headers: {'Content-Type': 'application/json'}
        })
            .then(response => response.json())
            .then(data => {
                if (!data.address) alert("not found");
                else {
                    restaurantId = data.id;
                    reissueToken();
                    if (localStorage.getItem('token') || sessionStorage.getItem('token')) isWishList();
                    else {
                        document.getElementById('addReviewBtn').style.display = 'none';
                        getReviewsPaged(0);
                    }

                    document.getElementById('name').innerHTML = data.name;
                    document.getElementById('img').src = data.restaurantImageList[0];
                    for (let i = 1; i < parseInt(data.avgRatings) + 1; i++)
                        document.getElementById("rt" + i).style.cssText = "color: #D7DF01";

                    document.getElementById('rate-text').innerHTML = `&nbsp;별점 : ${data.avgRatings}점`;
                    document.getElementById('address').innerHTML = data.address;
                    document.getElementById('road-address').innerHTML = data.roadAddress;

                    document.getElementById('open-hours').innerHTML = "영업시간: " + data.openHours.slice(0, 2) + ":" + data.openHours.slice(2, 4)
                        + " ~ " + data.closeHours.slice(0, 2) + ":" + data.closeHours.slice(2, 4);
                    document.getElementById('tel').innerHTML = "전화번호: " + data.tel;

                    const menuList = data.menuInfo.split("|");
                    let menuStr = '';
                    menuList.forEach((elm) => (menuStr += `<br><div style="background-color: #ddd; border-radius:10px; padding: 10px;">${elm}</div>`));
                    document.getElementById('menus').innerHTML = menuStr;
                }
            })
    }

    function logout() {
        const token = localStorage.getItem('token') || sessionStorage.getItem('token');

        return fetch(`/api/logout`, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${token}`,
            }
        })
            .then(response => {
                if (response.ok) {
                    localStorage.removeItem('token');
                    localStorage.removeItem('autoLogin');
                    sessionStorage.removeItem('token');
                    sessionStorage.removeItem('autoLogin');
                    // 로그아웃 성공 시 메인 페이지로 이동하고 뒤로가기 막기
                    window.location.replace("/");
                    // 브라우저의 페이지 이동 기록을 제거
                    window.history.pushState({}, '', '/');
                } else {
                    console.error('로그아웃 실패:', response.statusText);
                    // 오류 발생 시에도 토큰 삭제 후 리다이렉트
                    localStorage.removeItem('token');
                    localStorage.removeItem('autoLogin');
                    sessionStorage.removeItem('token');
                    sessionStorage.removeItem('autoLogin');
                    window.location.href = '/';
                }
            })
            .catch(error => console.error('로그아웃 중 오류 발생:', error));
    }
</script>

</body>
</html>