<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <style>
    </style>
    <script defer type="text/javascript" src="/js/myPage.js"></script>
</head>

<body>
<header class="header flex">
    <button id="goback">뒤로가기</button>
    <button id="logout">로그아웃</button>
</header>
<main class="main">
    <div class="col-1">
        <div class="buttons">
            <button id="myInfo">내 정보</button>
            <button id="likePost">즐겨찾기</button>
            <button id="myPost">내 게시글</button>
            <button id="update">회원정보 수정</button>
            <button id="upload">프로필업로드</button>
            <button id="leaveBtn">탈퇴</button>
        </div>
    </div>
    <div class="col-2">
        <div id="changecontentBox">

        </div>
    </div>
</main>
<footer></footer>
</body>

</html>